In [1]:
import pandas as pd
import csv
import matplotlib as plot

In [2]:
deadout_df = pd.read_csv("bee_data/bee_loss_deadout.csv")
collapse_df = pd.read_csv("bee_data/colony_collapse_bees.csv")

deadout_df.dropna(axis=1, how="all").copy()
collapse_df.dropna(axis=1, how="all").copy()

,Program,Year,Period,Geo Level,State,State ANSI,watershed_code,Commodity,Data Item,Domain,Domain Category,Value
0,SURVEY,2020,JAN THRU MAR,NATIONAL,US TOTAL,NaN,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,"105,240"
1,SURVEY,2020,JAN THRU MAR,STATE,ALABAMA,1.0,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,70
2,SURVEY,2020,JAN THRU MAR,STATE,ARIZONA,4.0,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,"4,300"
3,SURVEY,2020,JAN THRU MAR,STATE,ARKANSAS,5.0,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,390
4,SURVEY,2020,JAN THRU MAR,STATE,CALIFORNIA,6.0,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,"19,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
247,SURVEY,2015,YEAR,NATIONAL,US TOTAL,NaN,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",INVENTORY OF BEE COLONIES,INVENTORY OF BEE COLONIES: (LESS THAN 5 COLONIES),"7,000"
248,SURVEY,2015,JAN THRU MAR,NATIONAL,US TOTAL,NaN,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,"92,250"
249,SURVEY,2015,APR THRU JUN,NATIONAL,US TOTAL,NaN,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,"56,760"
250,SURVEY,2015,JUL THRU SEP,NATIONAL,US TOTAL,NaN,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,"88,390"
251,SURVEY,2015,OCT THRU DEC,NATIONAL,US TOTAL,NaN,0,HONEY,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...",TOTAL,NOT SPECIFIED,"87,610"