In [8]:
import pandas as pd
import plotly as plt
import matplotlib.pyplot as plt
import plotly.express as px
from sqlalchemy import create_engine

In [9]:
engine = create_engine(f"sqlite:///the_hive.db")

In [10]:
commodities = pd.read_sql('select * from colony_commodities', con=engine)
commodities

     year         state  lbs_per_acre       commodity  count_colonies
0    2019      US TOTAL        8140.0  SWEET CHERRIES       2919385.0
1    2019    CALIFORNIA        3420.0  SWEET CHERRIES        706250.0
2    2019        OREGON        8800.0  SWEET CHERRIES         93500.0
3    2019    WASHINGTON       11940.0  SWEET CHERRIES         76500.0
4    2018      US TOTAL        8100.0  SWEET CHERRIES       2791372.0
..    ...           ...           ...             ...             ...
681  2000      ILLINOIS       41000.0        PUMPKINS          8000.0
682  2000      MICHIGAN       16000.0        PUMPKINS         72000.0
683  2000      NEW YORK       20000.0        PUMPKINS         58000.0
684  2000          OHIO       16500.0        PUMPKINS         18000.0
685  2000  PENNSYLVANIA       17000.0        PUMPKINS         25000.0

[686 rows x 5 columns]

In [6]:
# colony_commodity.dropna(how='any', inplace=True)

In [ ]:
commodities