In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 
import csv
import json

# Pumpkins

In [2]:
pumpkins = pd.read_csv("../bee_data/1pumpkins.csv")

In [3]:
# removing two columns (Texas & Wisconsin) that have (D) in the value column instead of a number
pumpkins.drop(pumpkins.loc[pumpkins['Value']==' (D)'].index, inplace=True)

In [4]:
pumpkins['Value'] = pumpkins['Value'].astype(float)

In [5]:
total_pumpkins = pumpkins.rename(columns={'Year': 'year', 'State': 'state', 'Value': 'pumpkins_cwt/ac'})

In [6]:
## basically cwt/ac is * 100
total_pumpkins['pumpkin_lbs'] = total_pumpkins['pumpkins_cwt/ac'] * 100

In [7]:
total_pumpkins = total_pumpkins[["year", "state", "pumpkin_lbs"]]

# Almonds

In [8]:
almonds = pd.read_csv("../bee_data/2almonds.csv")

In [9]:
almonds = almonds[["Year", "State", "Value"]]

In [10]:
almond_totals = almonds.rename(columns={'Year': 'year', 'State': 'state', 'Commodity': 'commodity', 'Value': 'almond_lbs'})

In [11]:
almond_totals["almond_lbs"] = almond_totals["almond_lbs"].str.replace(",","")

In [12]:
almond_totals['almond_lbs'] = almond_totals['almond_lbs'].astype(int)

# Apples

In [13]:
apples = pd.read_csv("../bee_data/3apples.csv")

In [14]:
apples = apples[["Year", "State", "Value"]]

In [15]:
apple_totals = apples.rename(columns={'Year': 'year', 'State': 'state', 'Commodity': 'commodity', 'Value': 'apples_lbs'})

In [16]:
apple_totals["apples_lbs"] = apple_totals["apples_lbs"].str.replace(",","")

In [20]:
apple_totals.drop(apple_totals.loc[apple_totals['apples_lbs']==' (X)'].index, inplace=True)
apple_totals.drop(apple_totals.loc[apple_totals['apples_lbs']==' (NA)'].index, inplace=True)
apple_totals.drop(apple_totals.loc[apple_totals['apples_lbs']==' (D)'].index, inplace=True)

In [21]:
apple_totals['apples_lbs'] = apple_totals['apples_lbs'].astype(int)

# Blueberries

In [24]:
blueberries = pd.read_csv("../bee_data/4blueberries.csv")

In [25]:
blueberries.drop(blueberries.loc[blueberries['Value']==' (NA)'].index, inplace=True)

In [32]:
blueberries["Value"] = blueberries["Value"].str.replace(",","")

In [33]:
blueberries['Value'] = blueberries['Value'].astype(int)

In [34]:
total_blueberries = blueberries[["Year", "State", "Value"]]

In [38]:
blueberry_totals = total_blueberries.rename(columns={'Year': 'year', 'State': 'state', 'Commodity': 'commodity', 'Value': 'blueberry_lbs'})

year              int64
state            object
blueberry_lbs     int32
dtype: object

# Cherries

In [40]:
cherries = pd.read_csv("../bee_data/5cherries.csv")

In [44]:
cherries.drop(cherries.loc[cherries['Value']==' (X)'].index, inplace=True)
cherries.drop(cherries.loc[cherries['Value']==' (NA)'].index, inplace=True)
cherries.drop(cherries.loc[cherries['Value']==' (D)'].index, inplace=True)

In [45]:
cherries["Value"] = cherries["Value"].str.replace(",","")

In [46]:
cherries['Value'] = cherries['Value'].astype(int)

In [47]:
total_cherries = cherries[["Year", "State", "Value"]]

In [48]:
cherry_total = total_cherries.rename(columns={'Year': 'year', 'State': 'state', 'Commodity': 'commodity', 'Value': 'cherry_lbs'})
cherry_total.head()

   year       state  cherry_lbs
0  2019    US TOTAL        7680
1  2019    MICHIGAN        6650
2  2019    NEW YORK        2700
3  2019        UTAH       18000
4  2019  WASHINGTON       10700