In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 
import csv
import json

In [2]:
temp_data = pd.read_csv("city_temperature.csv", low_memory =False)
temp_data.head()

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [26]:
temp_data_filt = (temp_data['Country'] == 'US').copy()
temp_data_filt.to_csv("us_temp.csv")

In [4]:
temp_data[temp_data_filt]

,Region,Country,State,City,Month,Day,Year,AvgTemperature
1450990,North America,US,Alabama,Birmingham,1,1,1995,50.7
1450991,North America,US,Alabama,Birmingham,1,2,1995,37.2
1450992,North America,US,Alabama,Birmingham,1,3,1995,33.2
1450993,North America,US,Alabama,Birmingham,1,4,1995,33.3
1450994,North America,US,Alabama,Birmingham,1,5,1995,26.4
...,...,...,...,...,...,...,...,...
2906322,North America,US,Additional Territories,San Juan Puerto Rico,7,27,2013,82.4
2906323,North America,US,Additional Territories,San Juan Puerto Rico,7,28,2013,81.6
2906324,North America,US,Additional Territories,San Juan Puerto Rico,7,29,2013,84.2
2906325,North America,US,Additional Territories,San Juan Puerto Rico,7,30,2013,83.8
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6

In [5]:
temp_data_filt_Alabama = (temp_data['State'] == 'Alabama')
temp_data[temp_data_filt_Alabama]

,Region,Country,State,City,Month,Day,Year,AvgTemperature
1450990,North America,US,Alabama,Birmingham,1,1,1995,50.7
1450991,North America,US,Alabama,Birmingham,1,2,1995,37.2
1450992,North America,US,Alabama,Birmingham,1,3,1995,33.2
1450993,North America,US,Alabama,Birmingham,1,4,1995,33.3
1450994,North America,US,Alabama,Birmingham,1,5,1995,26.4
...,...,...,...,...,...,...,...,...
1488045,North America,US,Alabama,Montgomery,5,9,2020,60.9
1488046,North America,US,Alabama,Montgomery,5,10,2020,61.4
1488047,North America,US,Alabama,Montgomery,5,11,2020,62.6
1488048,North America,US,Alabama,Montgomery,5,12,2020,64.1
1488049,North America,US,Alabama,Montgomery,5,13,2020,63.6

In [6]:
# al_temp = al_temp.loc[al_temp['State'] == 'Alabama']
# # temp_data2 = temp_data.loc[temp_data['AvgTemperature'] < 41]
# # temp_data2

# al_temp = al_temp.groupby(['State', 'Month', 'Day', 'Year'], as_index = False)[['AvgTemperature']].mean()
# temp_data2 = al_temp.loc[al_temp['AvgTemperature'] > 100]
# temp_data3 = al_temp.loc[al_temp['AvgTemperature'] < 41].copy()
# temp_data3.drop(temp_data3[temp_data3['AvgTemperature'] == -99.000].index, inplace=True)
# temp_data3
# temp_data4 = temp_data3.groupby

In [25]:
temp_data_tx = temp_data.loc[temp_data['State'] == 'Texas']
temp_data_tx
temp_data_tx = temp_data_tx.groupby(['State', 'Month', 'Day', 'Year'], as_index = False)[['AvgTemperature']].mean()
temp_data_tx
# temp_data2 = temp_data_tx.loc[temp_data_tx['AvgTemperature'] > 90]
# temp_data2
# temp_data3 = temp_data_tx.loc[temp_data_tx['AvgTemperature'] < 41].copy()
# temp_data3.drop(temp_data3[temp_data3['AvgTemperature'] == -99.000].index, inplace=True)
# temp_data3
temp_year = temp_data_tx.loc[temp_data_tx['Year'] == 1995]
temp_year

      State  Month  Day  Year  AvgTemperature
0     Texas      1    1  1995       41.000000
26    Texas      1    2  1995       35.842857
52    Texas      1    3  1995       37.778571
78    Texas      1    4  1995       34.557143
104   Texas      1    5  1995       33.250000
...     ...    ...  ...   ...             ...
9140  Texas     12   27  1995       43.878571
9165  Texas     12   28  1995       41.042857
9190  Texas     12   29  1995       42.171429
9215  Texas     12   30  1995       48.528571
9240  Texas     12   31  1995       53.178571

[365 rows x 5 columns]

In [ ]:
temp_data_filt_Alaska = (temp_data['State'] == 'Alaska')
temp_data[temp_data_filt_Alaska]

In [ ]:
temp_data_filt_Arizona = (temp_data['State'] == 'Arizona')
temp_data[temp_data_filt_Arizona]

In [ ]:
temp_data_filt_Arkansas = (temp_data['State'] == 'Arkansas')
temp_data[temp_data_filt_Arkansas]

In [ ]:
temp_data_filt_California = (temp_data['State'] == 'California')
temp_data[temp_data_filt_California]
temp_data_filt_Californa

In [ ]:
temp_data_filt_Colorado = (temp_data['State'] == 'Colorado')
temp_data[temp_data_filt_Colorado]

In [ ]:
temp_data_filt_Connecticut = (temp_data['State'] == 'Connecticut')
temp_data[temp_data_filt_Connecticut]

In [ ]:
temp_data_filt_Delaware = (temp_data['State'] == 'Delaware')
temp_data[temp_data_filt_Delaware]

In [ ]:
temp_data_filt_Florida = (temp_data['State'] == 'Florida')
temp_data[temp_data_filt_Florida]

In [ ]:
temp_data_filt_Georgia = (temp_data['State'] == 'Georgia')
temp_data[temp_data_filt_Georgia]

In [ ]:
temp_data_filt_Hawaii = (temp_data['State'] == 'Hawaii')
temp_data[temp_data_filt_Hawaii]

In [ ]:
temp_data_filt_Idaho = (temp_data['State'] == 'Idaho')
temp_data[temp_data_filt_Idaho]

In [ ]:
temp_data_filt_Illinois = (temp_data['State'] == 'Illinois')
temp_data[temp_data_filt_Illinois]

In [ ]:
temp_data_filt_Indiana = (temp_data['State'] == 'Indiana')
temp_data[temp_data_filt_Indiana]

In [ ]:
temp_data_filt_Iowa = (temp_data['State'] == 'Iowa')
temp_data[temp_data_filt_Iowa]

In [ ]:
temp_data_filt_Kansas = (temp_data['State'] == 'Kansas')
temp_data[temp_data_filt_Kansas]

In [ ]:
temp_data_filt_Kentucky = (temp_data['State'] == 'Kentucky')
temp_data[temp_data_filt_Kentucky]

In [ ]:
temp_data_filt_Louisiana = (temp_data['State'] == 'Louisiana')
temp_data[temp_data_filt_Louisiana]

In [ ]:
temp_data_filt_Maine = (temp_data['State'] == 'Maine')
temp_data[temp_data_filt_Maine]

In [ ]:
temp_data_filt_Maryland = (temp_data['State'] == 'Maryland')
temp_data[temp_data_filt_Maryland]

In [ ]:
temp_data_filt_Massachusetts = (temp_data['State'] == 'Massachusetts')
temp_data[temp_data_filt_Massachusetts]

In [ ]:
temp_data_filt_Michigan = (temp_data['State'] == 'Michigan')
temp_data[temp_data_filt_Michigan]

In [ ]:
temp_data_filt_Minnesota = (temp_data['State'] == 'Minnesota')
temp_data[temp_data_filt_Minnesota]

In [ ]:
temp_data_filt_Mississippi = (temp_data['State'] == 'Mississippi')
temp_data[temp_data_filt_Mississippi]

In [ ]:
temp_data_filt_Missouri  = (temp_data['State'] == 'Missouri')
temp_data[temp_data_filt_Missouri]

In [ ]:
temp_data_filt_Montana = (temp_data['State'] == 'Montana')
temp_data[temp_data_filt_Montana]

In [ ]:
temp_data_filt_Nebraska = (temp_data['State'] == 'Nebraska')
temp_data[temp_data_filt_Nebraska]

In [ ]:
temp_data_filt_New_Hampshire = (temp_data['State'] == 'New_Hampshire')
temp_data[temp_data_filt_New_Hampshire]

In [ ]:
temp_data_filt_New_Jersey = (temp_data['State'] == 'New_Jersey')
temp_data[temp_data_filt_New_Jersey]

In [ ]:
temp_data_filt_New_Mexico = (temp_data['State'] == 'New_Mexico')
temp_data[temp_data_filt_New_Mexico]

In [ ]:
temp_data_filt_New_York = (temp_data['State'] == 'New_York')
temp_data[temp_data_filt_New_York]

In [ ]:
temp_data_filt_North_Carolina = (temp_data['State'] == 'North_Carolina')
temp_data[temp_data_filt_North_Carolina]

In [ ]:
temp_data_filt_North_Dakota = (temp_data['State'] == 'North_Dakota')
temp_data[temp_data_filt_North_Dakota]

In [ ]:
temp_data_filt_Ohio = (temp_data['State'] == 'Ohio')
temp_data[temp_data_filt_Ohio]

In [ ]:
temp_data_filt_Oklahoma = (temp_data['State'] == 'Oklahoma')
temp_data[temp_data_filt_Oklahoma]

In [ ]:
temp_data_filt_Oregon = (temp_data['State'] == 'Oregon')
temp_data[temp_data_filt_Oregon]

In [ ]:
temp_data_filt_Pennsylvania = (temp_data['State'] == 'Pennsylvania')
temp_data[temp_data_filt_Pennsylvania]

In [ ]:
temp_data_filt_Rhode_Island = (temp_data['State'] == 'Rhode_Island')
temp_data[temp_data_filt_Rhode_Island]

In [ ]:
temp_data_filt_South_Carolina = (temp_data['State'] == 'South_Carolina')
temp_data[temp_data_filt_South_Carolina]

In [ ]:
temp_data_filt_South_Dakota = (temp_data['State'] == 'South_Dakota')
temp_data[temp_data_filt_South_Dakota]

In [ ]:
temp_data_filt_Tennessee = (temp_data['State'] == 'Tennessee')
temp_data[temp_data_filt_Tennessee]

In [ ]:
temp_data_filt_Texas = (temp_data['State'] == 'Texas')
temp_data[temp_data_filt_Texas]

In [ ]:
temp_data_filt_Utah = (temp_data['State'] == 'Utah')
temp_data[temp_data_filt_Utah]

In [ ]:
temp_data_filt_Vermont = (temp_data['State'] == 'Vermont')
temp_data[temp_data_filt_Vermont]

In [ ]:
temp_data_filt_Virgina = (temp_data['State'] == 'Virgina')
temp_data[temp_data_filt_Virgina]

In [ ]:
temp_data_filt_Washington = (temp_data['State'] == 'Washington')
temp_data[temp_data_filt_Washington]

In [ ]:
temp_data_filt_Wisconsin = (temp_data['State'] == 'Wisconsin')
temp_data[temp_data_filt_Wisconsin]

In [ ]:
temp_data_filt_Wyoming = (temp_data['State'] == 'Wyoming')
temp_data[temp_data_filt_Wyoming]