In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
import requests

In [2]:
# load in csvs and store in dataframe
honey_path = "../bee_data/6honey.csv"
colony_path = "../bee_data/bee_colonies_state.csv"

honey_df = pd.read_csv(honey_path)
colony_df = pd.read_csv(colony_path)

honey_df.head()
#colony_df.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2019,MID DEC,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"41,022,000",NaN
1,SURVEY,2019,MID DEC,NaN,STATE,ALABAMA,1.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"44,000",NaN
2,SURVEY,2019,MID DEC,NaN,STATE,ARIZONA,4.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"201,000",NaN
3,SURVEY,2019,MID DEC,NaN,STATE,ARKANSAS,5.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"176,000",NaN
4,SURVEY,2019,MID DEC,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,HONEY,"HONEY - STOCKS, MEASURED IN LB",TOTAL,NOT SPECIFIED,"3,216,000",NaN

# HONEY

In [ ]:
honey_cleanup = honey_df[['Year', 'Period', 'State','Commodity','Data Item','Domain','Domain Category','Value']]
honey_cleanup.head()

In [ ]:
clean_honey = honey_cleanup[['Year','State','Value']].copy()
clean_honey.head()

In [ ]:
clean_honey['Value'] = clean_honey['Value'].str.replace(',','')

In [ ]:
clean_honey['Value'] = clean_honey['Value'].astype(int)
clean_honey.head()

In [ ]:
cleaned_honey = clean_honey.rename(columns={'Year':'year','State':'state','Value':'lbs_of_honey'})
cleaned_honey.to_csv("honey.csv")

# COLONIES

In [3]:
colony_cleanup = colony_df[['Year', 'Period', 'State','Commodity','Data Item','Domain','Domain Category','Value']].copy()
colony_cleanup

,Year,Period,State,Commodity,Data Item,Domain,Domain Category,Value
0,2020,FIRST OF JAN,US TOTAL,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"2,876,100"
1,2020,FIRST OF JAN,ALABAMA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"5,500"
2,2020,FIRST OF JAN,ARIZONA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"29,000"
3,2020,FIRST OF JAN,ARKANSAS,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"16,500"
4,2020,FIRST OF JAN,CALIFORNIA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,350,000"
...,...,...,...,...,...,...,...,...
2464,1987,MARKETING YEAR,VIRGINIA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"25,000"
2465,1987,MARKETING YEAR,WASHINGTON,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"75,000"
2466,1987,MARKETING YEAR,WEST VIRGINIA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"21,000"
2467,1987,MARKETING YEAR,WISCONSIN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"92,000"
2468,1987,MARKETING YEAR,WYOMING,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"39,000"

In [5]:
colony_cleanup['Value'] = colony_cleanup['Value'].str.replace(',','')
colony_cleanup

,Year,Period,State,Commodity,Data Item,Domain,Domain Category,Value
0,2020,FIRST OF JAN,US TOTAL,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,2876100
1,2020,FIRST OF JAN,ALABAMA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,5500
2,2020,FIRST OF JAN,ARIZONA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,29000
3,2020,FIRST OF JAN,ARKANSAS,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,16500
4,2020,FIRST OF JAN,CALIFORNIA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,1350000
...,...,...,...,...,...,...,...,...
2464,1987,MARKETING YEAR,VIRGINIA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,25000
2465,1987,MARKETING YEAR,WASHINGTON,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,75000
2466,1987,MARKETING YEAR,WEST VIRGINIA,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,21000
2467,1987,MARKETING YEAR,WISCONSIN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,92000
2468,1987,MARKETING YEAR,WYOMING,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,39000

In [6]:
colony_cleanup['Value'] = colony_cleanup['Value'].astype(int)

In [ ]:
## for the machine learning part we are just going with 2015 data. Taking the average of the quarters and dropping marketing year. Might set marketing year as its own table... thoughts?
colony_cleanup.drop(colony_cleanup.loc[colony_cleanup['Period'] == 'MARKETING YEAR'].index, inplace=True)

In [ ]:
colony_state_year = colony_cleanup.groupby(['Year','State'], as_index = False).mean(['Value'])
colony_state_year.head()

In [ ]:
cleaned_colony = colony_state_year.rename(columns={'Year':'year','State':'state','Value':'count_colonies'})
cleaned_colony.to_csv("colonies.csv")

 # MARKETING YEAR

In [ ]:
## just in case we wanted this for graphs
marketing_year = colony_df.copy()
marketing_year.head()

In [ ]:
marketing_year.drop(marketing_year.loc[marketing_year['Period'] != 'MARKETING YEAR'].index, inplace=True)
marketing_year.head()

In [ ]:
marketing_cleanup = marketing_year[['Year','State','Value']].copy()
marketing_cleanup.head()

In [ ]:
marketing_cleanup['Value'] = marketing_cleanup['Value'].str.replace(',','')
marketing_cleanup.head()

In [ ]:
marketing_cleanup['Value'] = marketing_cleanup['Value'].astype(int)

In [ ]:
cleaned_marketing_year = marketing_cleanup.rename(columns={'Year':'year','State':'state','Value':'marketing_year_val'})
cleaned_marketing_year.head()

# DEADOUT COLLAPSE AND PESTICIDES

In [ ]:
deadout_df = pd.read_csv("../bee_data/bee_loss_deadout.csv")
collapse_df = pd.read_csv("../bee_data/colony_collapse_bees.csv")
pesticides_df = pd.read_csv("../bee_data/pesticides_death_bees.csv")

deadout_df.dropna(axis=1, how="all").copy()
collapse_df.dropna(axis=1, how="all").copy()
pesticides_df.dropna(axis=1, how="all").copy()

In [ ]:
deadout_df["Value"] = deadout_df["Value"].str.replace(",","")
deadout_df['Value'] = deadout_df['Value'].astype('int64')
deadout = deadout_df.groupby(['Year', 'State',], as_index=False)[['Value']].sum()
deadout = deadout.rename(columns = {
    'Year': 'year',
    'State': 'state',
    'Value': 'deadout'
    })
deadout.head()

In [ ]:
collapse_df["Value"] = collapse_df["Value"].str.replace(",","")
collapse_df['Value'] = collapse_df['Value'].astype('int64')
collapse = collapse_df.groupby(['Year', 'State',], as_index=False)[['Value']].sum()
collapse = collapse.rename(columns = {
    'Year': 'year',
    'State': 'state',
    'Value': 'cc_syn'
    })
collapse.head()

In [ ]:
pesticides_df.drop(pesticides_df.loc[pesticides_df['Value'] == ' (Z)'].index, inplace=True)
pesticides_df['Value'] = pesticides_df['Value'].astype('float64')
pesticides_df = pesticides_df.loc[pesticides_df['Domain'] == 'TOTAL']
pesticides = pesticides_df.groupby(['Year', 'State',], as_index=False)[['Value']].sum()
pesticides = pesticides.rename(columns = {
    'Year': 'year',
    'State': 'state',
    'Value': 'pesticides'
    })
pesticides.head()

In [ ]:
combined = deadout.merge(collapse, on=['state','year'])
decline_final = combined.merge(pesticides, on=['state','year'])
decline_final.head()

# TEMPERATURE DATA

In [ ]:
temp_data = pd.read_csv("../bee_data/city_temperature.csv", low_memory =False)
temp_data.head()

In [ ]:
temp_data.drop(temp_data.loc[temp_data['Country'] != 'US'].index, inplace=True)
temp_data.head()

In [ ]:
temp_data.drop(temp_data.loc[temp_data['AvgTemperature'] == -99.00].index, inplace=True)
temp_data.head()

In [ ]:
state_avg_temp = temp_data.groupby(['State','Month','Day','Year'], as_index = False).mean(['AvgTemperature'])
state_avg_temp.head()

In [ ]:
state_avg_temp['State'].unique()

In [ ]:
cleaned_state_avg_temp = state_avg_temp.rename(columns={'Year':'year','Month':'month','Day':'day','State':'state','AvgTemperature':'avg_temp'})
cleaned_state_avg_temp.head()

In [ ]:
cleaned_state_avg_temp['state'] = cleaned_state_avg_temp['state'].str.upper()
cleaned_state_avg_temp

In [ ]:
state_avg_temp_2010 = cleaned_state_avg_temp[(cleaned_state_avg_temp['year']>= 2010)]
test = state_avg_temp_2010.copy()
test.drop(test.loc[test['state'] == 'ADDITIONAL TERRITORIES'].index, inplace=True)
test.drop(test.loc[test['state'] == 'DISTRICT OF COLUMBIA'].index, inplace=True)
test.drop(test.loc[test['state'] == 'ALASKA'].index, inplace=True)
test.drop(test.loc[test['state'] == 'CONNECTICUT'].index, inplace=True)
test.drop(test.loc[test['state'] == 'DELAWARE'].index, inplace=True)
test.drop(test.loc[test['state'] == 'MARYLAND'].index, inplace=True)
test.drop(test.loc[test['state'] == 'MASSACHUSETTS'].index, inplace=True)
test.drop(test.loc[test['state'] == 'NEVADA'].index, inplace=True)
test.drop(test.loc[test['state'] == 'NEW HAMPSHIRE'].index, inplace=True)
test.drop(test.loc[test['state'] == 'NEW MEXICO'].index, inplace=True)
test.drop(test.loc[test['state'] == 'OKLAHOMA'].index, inplace=True)
test.drop(test.loc[test['state'] == 'RHODE ISLAND'].index, inplace=True)
test.drop(test.loc[test['year'] == 2020].index, inplace=True)
test

In [ ]:
monthly_mean_temp = test.groupby(['state','year','month'], as_index = False)['avg_temp'].mean()
monthly_mean_temp

In [ ]:
## including seperately in SQL because it drops states like California, Hawaii, and Florida
state_avg_temp_filtered = cleaned_state_avg_temp[(cleaned_state_avg_temp['avg_temp']<= 41) | (cleaned_state_avg_temp['avg_temp']>= 95)]
state_avg_temp_filtered.head()

In [ ]:
state_count = state_avg_temp_filtered.groupby(['state','year'], as_index = False)['avg_temp'].count()
state_count.head()

In [ ]:
cleaned_state_ext_temp = state_count.rename(columns={'avg_temp':'extreme_temp_days'})
cleaned_state_ext_temp.head()

# COMMODITIES

In [ ]:
cherries = pd.read_csv("../bee_data/sweet_cherries.csv")

In [ ]:
cherries = cherries[["Year", "State", "Value", "Commodity"]]
cherries = cherries.rename(columns={'Year': 'year', 'State': 'state', "Value": "lbs_per_acre", 'Commodity': 'commodity'})
cherries["commodity"] = 'SWEET CHERRIES'

cherries.drop(cherries.loc[cherries['lbs_per_acre']==' (NA)'].index, inplace=True)
cherries.drop(cherries.loc[cherries['lbs_per_acre']==' (X)'].index, inplace=True)
cherries["lbs_per_acre"] = cherries["lbs_per_acre"].str.replace(",","")
cherries["lbs_per_acre"] = cherries["lbs_per_acre"].astype(float)

In [ ]:
cherries['lbs_per_acre'] = cherries['lbs_per_acre'] * 2000
cherries

In [ ]:
all_fruit = pd.read_csv("../bee_data/all_fruit_lbs_per_acre.csv")
all_fruit.head()

In [ ]:
# all_fruit["Value"].unique()
all_fruit.drop(all_fruit.loc[all_fruit['Value']==' (X)'].index, inplace=True)
all_fruit.drop(all_fruit.loc[all_fruit['Value']==' (NA)'].index, inplace=True)
all_fruit.drop(all_fruit.loc[all_fruit['Value']==' (D)'].index, inplace=True)
# adding almond data in from separate spreadsheet which has more years of data
all_fruit.drop(all_fruit.loc[all_fruit['Commodity'] == 'ALMONDS']. index, inplace=True)

all_fruit.drop(all_fruit.loc[all_fruit['Period']=='YEAR - MAY FORECAST'].index, inplace=True)

all_fruit["Value"] = all_fruit["Value"].str.replace(",","")
all_fruit['Value'] = all_fruit['Value'].astype(float)

all_fruit = all_fruit[["Year", "State", "Value", "Commodity"]]
all_fruit = all_fruit.rename(columns={'Year': 'year', 'State': 'state', "Value": "lbs_per_acre", 'Commodity': 'commodity'})
all_fruit

In [ ]:
all_fruit_combined = pd.concat([cherries, all_fruit], join="inner")
all_fruit_combined

In [ ]:
almonds = pd.read_csv("../bee_data/2almonds.csv")

In [ ]:
almonds.drop(almonds.loc[almonds['Period']=='YEAR - MAY FORECAST'].index, inplace=True)

almonds = almonds[["Year", "State", "Value", "Commodity"]]
almond_totals = almonds.rename(columns={'Year': 'year', 'State': 'state', 'Commodity': 'commodity', 'Value': 'lbs_per_acre'})
almond_totals["lbs_per_acre"] = almond_totals["lbs_per_acre"].str.replace(",","")
almond_totals['lbs_per_acre'] = almond_totals['lbs_per_acre'].astype(int)
almond_totals

In [ ]:
almond_fruit = pd.concat([almond_totals, all_fruit_combined], join="inner")
almond_fruit

In [ ]:
pumpkins = pd.read_csv("../bee_data/pumpkins_v2.csv")
# pumpkins.head()

In [ ]:
# removing two columns (Texas & Wisconsin) that have (D) in the value column instead of a number
pumpkins.drop(pumpkins.loc[pumpkins['Value']==' (D)'].index, inplace=True)
pumpkins['Value'] = pumpkins['Value'].astype(float)
pumpkins = pumpkins[["Year", "State", "Value", "Commodity"]]
pumpkins = pumpkins.rename(columns={'Year': 'year', 'State': 'state','Commodity': 'commodity', 'Value': 'lbs_per_acre'})
pumpkins.head()

In [ ]:
## basically cwt/ac is * 100
pumpkins['lbs_per_acre'] = pumpkins['lbs_per_acre'] * 100
pumpkins

In [ ]:
all_crops = pd.concat([all_fruit_combined, pumpkins], join="inner")
all_crops

# Honey Prices Data

In [ ]:
dfs = pd.read_html("https://honey.com/honey-industry/statistics/retail-honey-price")

In [ ]:
honey_prices = dfs[0]

In [ ]:
honey_prices2 = honey_prices.rename(columns={"Unnamed: 0": "year"})

In [ ]:
honey_3 = honey_prices2.rename(str.lower, axis='columns')

In [ ]:
honey_prices_4 = honey_3.rename(columns={"dev": "dec"})

In [ ]:
honey_prices_5 = honey_prices_4[honey_prices_4.columns].replace({'\$':''}, regex = True)

In [ ]:
honey_prices_5.fillna('7.89',inplace=True)

In [ ]:
honey_prices_5

# SQLITE TIME!!!!

In [ ]:
engine = create_engine(f"sqlite:///the_hive.db")

In [ ]:
honey_prices_5.to_sql(name = 'honey_prices', con = engine, if_exists='replace', index=False)

In [ ]:
cleaned_honey.to_sql(name = 'honey_prod', con = engine, if_exists='replace', index=False)

In [ ]:
cleaned_colony.to_sql(name = 'colony', con = engine, if_exists='replace', index=False)

In [ ]:
decline_final.to_sql(name = 'decline', con = engine, if_exists='replace', index=False)

In [ ]:
cleaned_marketing_year.to_sql(name = 'marketing_year', con = engine, if_exists='replace', index=False)

In [ ]:
all_crops.to_sql(name = 'commodities', con = engine, if_exists='replace', index=False)

In [ ]:
cleaned_state_ext_temp.to_sql(name = 'extreme_temp_days', con = engine, if_exists='replace', index=False)

In [ ]:
monthly_mean_temp.to_sql(name = 'monthly_avg_temp', con = engine, if_exists='replace', index=False)

In [ ]:
engine.table_names()